<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_head') %>
    <title>Wellcome</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Welcome Page</h1>
        <div style="text-align: center;">
            <div class="btn-group">
                <a href="/employee/all" class="btn btn-success me-2" style="width: 10%">display All Employees</a>
                <a href="/employee/add" class="btn btn-info" style="width: 10%">Add Employee</a>    
            </div>
        </div>
        
    </div>
    
</body>
</html>